.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(62, 68, 73);
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  
}

.filter-menu-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  border-bottom: 5px solid rgb(28, 132, 201);
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.map-container {
  flex: 0 1 60%; /* Map takes 60% of the container width */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}